.footerContainer {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;

  width: 100%;
  max-width: 425px; /* 💡 가로 맥스 고정 */
  height: 60px;

  left: 50%;
  transform: translateX(-50%);
  
  z-index: 100;
  
  background-color: var(--main);
}

/* 1. 기본형: 텍스트 중앙 정렬 */
.defaultText {

  width: 100%;
  text-align: center;
  color: var(--white);
  font-size: 20px;
  font-weight: 400;
}

/* 2. 미니 꾸미기형: 이미지처럼 오른쪽 정렬 */
.dressUpContainer {
  display: flex;  
  justify-content: flex-end;

  width: 100%;
}

.dressUpLink {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 160px;
  height: 40px; 

  
  color: var(--white);
  
  font-size: 24px;
  padding-top: 3px;

  background-color: var(--black);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  
}


/* 4. 분리형: n분의 1 및 색상 반전 */
.tabContainer {
  display: flex;

  width: 100%;
  height: 100%;
}

.tabItem {
  display: flex;
  align-items: center;      /* 수직 중앙 */
  justify-content: center;
    
  flex: 1; /* 💡 정확히 n분의 1 */
  height: 100%;
  
  border: none;

  font-weight: 400;
  font-size: 20px;
  text-align: center;

  border-right: 1px solid var(--white);
}

/* 💡 선택된 부분: 흰색 배경 */
.activeTab {
  background-color: var(--white);
  color: var(--main);
}

/* 💡 선택 안된 부분: 분홍색 배경 */
.inactiveTab {
  background-color: var(--main);
  color: var(--white);
}