.GiftTitle {
  padding: 0px 12px;
  margin-bottom: 4px;

  transform: translateY(1px);
}

.NoticeText {
  padding: 0px 12px;

  font-size: 14px;
  color: var(--gray-8a);
  line-height: 1.5;

  transform: translateY(1px);

  white-space: normal;
  word-break: keep-all;
}

.Caption {
  p {
    line-height: 1.2;
    white-space: nowrap; /* 줄바꿈 방지 */
  }

  span {
    color: var(--main);
  }
}

.ImageWrapper {
  display: flex;
  justify-content: center;

  width: 100px;

  img {
    display: block;
  }
}

.GiftCaption {
  min-width: 0;
  flex: 1;

  p {
    width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
