.GiftContainer {
  display: flex;
  flex-direction: column;

  width: calc(100% - 6px);
  margin-left: 3px;
  margin-right: 3px;

  background-color: var(--white);
  border-radius: 4px;
}

.TitleBox {
  width: 108px;
  height: 16px;
}

.GiftTitle {
  font-size: 16px;
  color: var(--black);

  text-align: left;
  padding-left: 8;

  transform: translateY(1px);
}

.GiftImageBox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 80px;

  margin-top: 14px; /* 위쪽 간격 */
  margin-left: 8px; /* 왼쪽 간격 */
  margin-bottom: 8px;
  margin-right: 0px;

  flex-shrink: 0;
  overflow: hidden;
}

.GiftItemName {
  font-size: 16px;
  color: var(--black);
  line-height: 1.5;

  transform: translateY(1px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1; 
}


.NoticeText {
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 11px;

  font-size: 14px;
  color: #868E96;
  font-weight: 500;
  line-height: 1.4;
  
  transform: translateY(1px);

  white-space: normal; 
  word-break: keep-all; 
}
