.GiftContainer {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
}

.GiftTitle {
  padding: 0px 12px;

  transform: translateY(1px);
}

.GiftImageBox {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 80px;

  flex-shrink: 0;
}

.GiftItemName {
  font-size: 16px;
  line-height: 1.5;

  transform: translateY(1px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.NoticeText {
  padding: 8px 12px;

  font-size: 14px;
  color: var(--gray-8a);
  line-height: 1.5;

  transform: translateY(1px);

  white-space: normal;
  word-break: keep-all;
}
