.MagnifyButton {
  position: absolute;
  right: 2px;
  bottom: 2px;

  img {
    display: block;
  }
}

.RankTag {
  position: absolute;
  right: -5px;
  top: -5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 39px;
  height: 25px;

  background-color: var(--main);
  border-radius: 10px;

  color: var(--white);
  font-size: 14px;

  p {
    transform: translate(-1px, 1px);
  }
}

@media (max-width: 375px) {
  .CustomHeart img,
  .CustomHeart svg {
    width: 18px;
    height: 18px;
  }
}
