.CardWrapper {
  position: relative;

  width: 100%;
  height: fit-content;
}

.ImageArea {
  position: relative;

  aspect-ratio: 5 / 4;

  overflow: hidden;
}

.Placeholder {
  width: 100%;
  height: 100%;
}

.RankTag {
  position: absolute;
  right: -5px;
  top: -5px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 39px;
  height: 25px;

  background-color: var(--main);
  border-radius: 10px;

  color: var(--white);
  font-size: 14px;
}

.ScoreText {
  font-size: 16px;

  transform: translateY(1px);
}

@media (max-width: 375px) {
  .CustomHeart img,
  .CustomHeart svg {
    width: 18px;
    height: 18px;
  }
}

.MagnifyButton {
  position: absolute;
  right: 2px;
  bottom: 2px;

  z-index: 5;

  img {
    display: block;
  }
}

.ModalImageWrapper {
  max-width: 90vw;
  img {
    display: block;
  }
}
