.Container {
  width: 200px;
  height: auto;
}

.SignBox {
  display: flex;
  justify-content: center;

  width: 9px;
  text-align: center;
}

.NumberBox {
  width: 32px;
  text-align: left;
}

.Row {
  padding: 12px;
  border-bottom: 1px solid #e9ecef;
}

.Label,
.Value {
  font-size: 16px;
  color: var(--black);

  transform: translateY(2px); /* 글자만 미세하게 아래로 내리는 설정 */
}

.ResultContent {
  padding: 13px 10px 14px 12px;
}

@media (max-width: 374px) {
  .ResultContent {
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;

    width: 201px;
  }

  .ResultContent > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
  }
}

.RankingTag {
  position: absolute;
  right: -12px;
  top: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 54px;

  background-color: var(--main);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  color: var(--white);
  font-size: 20px;
}

.InfoButton {
  width: 16px;
  height: 16px;
}

.ResultText {
  font-size: 22px;
  transform: translateY(2px); /* 글자 베이스라인 보정 */
}
