:root {
  --main: #ff6bac;
  --main-light: #ff97c7;
  --main-dark: #e83d89;

  --highlight: #f9f298;

  --white: #fafafa;
  --black: #0c0c0c;
  --gray: #3d3d3d;
  --gray-8a: #8a8a8a;
  --gray-b3: #b3b3b3;
}
