:root {
  --background: #fafafa; /* white */
  --foreground: #0c0c0c; /* black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: var(--font-BMJUA); /* 공용 폰트는 app/layout.tsx에서 정의 */
}

html {
  scrollbar-gutter: stable;
}

html,
body {
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
}

main {
  margin: 0 auto;

  /* F12 (개발자 모드)에서 Device Toolbar로 확인 */
  width: 100%;
  max-width: 425px;
  min-width: 320px;
  min-height: 100dvh;

  background-color: #fafafa; /* white */
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1;
}

[disabled] {
  cursor: default !important;
}
