.FooterContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 0;

  width: 100%;
  max-width: 425px;
  height: 56px;

  left: 50%;
  transform: translateX(-50%);

  z-index: 200;
  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--main-light);
}

.PinkBtn {
  width: 196px;
  height: inherit;

  background-color: var(--main);

  p {
    padding-top: 2;
    color: var(--white);
    font-size: 24px;
    text-align: center;
  }
}
