.FooterContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: env(safe-area-inset-bottom);

  width: 100%;
  max-width: 425px;
  height: 60px;

  background-color: var(--main-light);

  z-index: 200;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 196px;
  height: inherit;

  background-color: var(--main);

  p {
    padding-top: 2;

    color: var(--white);
    font-size: 24px;
  }
}

.Disabled {
  position: relative;

  background-color: #ffc2de;

  p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    white-space: nowrap;

    z-index: 250;
  }
}
