.FooterContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;

  padding-bottom: env(safe-area-inset-bottom);

  width: 100%;
  max-width: 425px;
  height: 60px;

  z-index: 200;
}

/* 미니 꾸미기 */
.DressUpContainer {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.DressUpLink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 40px;

  background-color: var(--black);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--white);

  font-size: 24px;
  padding-top: 3px;
}

/* 탭 */
.TabContainer {
  display: flex;

  width: 100%;
  height: inherit;
}

.TabItem {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  height: inherit;

  border-right: 1px solid var(--white);

  font-size: 20px;
  text-align: center;
}

.TabItem:last-child {
  border-right: none;
}
