.FooterContainer {
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;

  width: 100%;
  max-width: 425px;
  height: 60px;

  left: 50%;
  transform: translateX(-50%);

  z-index: 200;

  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--main);
}

/* 2. 미니 꾸미기형: 이미지처럼 오른쪽 정렬 */
.DressUpContainer {
  display: flex;
  justify-content: flex-end;

  width: 100%;
}

.DressUpLink {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 160px;
  height: 40px;

  color: var(--white);

  font-size: 24px;
  padding-top: 3px;

  background-color: var(--black);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* 4. 분리형: n분의 1 및 색상 반전 */
.TabContainer {
  display: flex;

  width: 100%;
  height: inherit;
}

.TabItem {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  height: inherit;

  border-right: 1px solid var(--white);

  font-size: 20px;
  text-align: center;
}

.TabItem:last-child {
  border-right: none;
}

.ActiveTab {
  background-color: var(--white);
  color: var(--main);
}

.InactiveTab {
  background-color: var(--main);
  color: var(--white);
}
