.container {
  position: sticky;
  top: 0;

  width: 100%;
  height: fit-content;

  z-index: 200;
}

.mainHeader {
  display: flex;
  align-items: center; 
  justify-content: space-between; 

  height: 50px;

  background-color: var(--main);
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 43px;
  height: 38px;

  background-color: var(--black);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: right;

  width: 43px;
  padding-right: 8px;
}

.title {
  padding-top: 2px; /* 이게 있어야 위아래 간격 대칭이 맞아보임 */
  
  font-size: 24px;
}

.subHeader {
  height: 36px;
  padding: 11px;

  background-color: var(--black);

  text-align: left;
}

.subText {
  padding-top: 1px; /* 이게 있어야 위아래 간격 대칭이 맞아보임*/

  color: var(--white);
  font-size: 14px;
}
