.Container {
  position: sticky;
  top: 0;

  width: 100%;
  height: fit-content;

  z-index: 200;
}

.MainHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 50px;

  background-color: var(--main);
}

.BackButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 43px;
  height: 38px;

  background-color: var(--black);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.RightSection {
  display: flex;
  align-items: center;
  justify-content: right;

  padding-right: 8px;

  width: 30px;
  height: 30px;
}

.Title {
  padding-top: 4px; /* 이게 있어야 위아래 간격 대칭이 맞아보임 */

  font-size: 24px;
}

.Subheader {
  height: 36px;
  padding: 11px;

  background-color: var(--black);

  text-align: left;
}

.Desc {
  padding-top: 1px; /* 이게 있어야 위아래 간격 대칭이 맞아보임*/

  color: var(--white);
  font-size: 14px;
}
