.FooterContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: env(safe-area-inset-bottom);

  width: 100%;
  max-width: 425px;
  height: 60px;

  background-color: var(--main);

  z-index: 200;
}
