.Container {
  position: sticky;
  top: 0;

  width: auto;
  height: 110px;

  z-index: 200;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 70px;

  background-color: var(--black);
}

.SubHeader {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: 40px;

  background-color: var(--gray);
  color: var(--white);

  font-size: 24px;
}
