.Container {
  position: fixed;
  bottom: 0;

  /* 브라우저 창을 기준으로 중앙 정렬 */
  left: 50%;
  transform: translateX(-50%);

  width: 100%;
  max-width: 425px;
  min-width: 320px;
  height: 40px;

  padding-bottom: env(safe-area-inset-bottom);
  background-color: var(--black);

  z-index: 200;
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: inherit;
}
