.FileInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 5 / 4;
}

.FileInputWrapper {
  position: relative;

  width: 40px;
  height: 40px;
}

.FileInput {
  width: 40px;
  height: 40px;
}

.FileInputIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  pointer-events: none;
}
