.VoteButton {
  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);

  z-index: 10;

  img {
    display: block;
  }
}

.SameButton {
  position: absolute;
  top: 50%;
  right: 26px;

  transform: translateY(-50%);

  z-index: 20;

  img {
    display: block;
  }
}

.VerticalLine {
  position: absolute;
  right: 49px;
  top: 25%;
  bottom: 25%;

  width: 4px;
  background-color: #3d3d3d;

  z-index: 0;
}
